<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ALL LIstings</h1>
    <ul>
 <%   for(let listing of alllistings){ %> 
        <li><%=listing.title%></li>
   <%  
    }%>   
</ul>
</body>
</html>
