<% layout("/layouts") %>
<body>
    <h1>ALL LIstings</h1>
    <form method="GET"action="/listings/new">
        <button>create New</button>
    </form>
    <ul>
 <%   for(let listing of alllistings){ %> 
        <li><a href="/listings/<%= listing._id %>"><%=listing.title%> </a> </li>
   <%  
    }%>   
</ul>
</body>
