<% layout("/layouts/boilerplate") %>
<body>
    <h1>ALL LIstings</h1>
    <!-- <form method="GET"action="/listings/new">
        <button>create New</button>
    </form> -->

    <!-- card -->
     <div class="row"></div>
 

    <!-- ------------- -->
    <ul>
 <%   for(let listing of alllistings){ %> 
        <li><a href="/listings/<%= listing._id %>"><%=listing.title%> </a> </li>
   <%  
    }%>   
</ul>
</body>
