<% layout("/layouts/boilerplate") %>
<body>
    <h1>ALL LIstings</h1>
    <!-- <form method="GET"action="/listings/new">
        <button>create New</button>
    </form> -->

    <!-- card -->

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>





    <!-- ------------- -->
    <ul>
 <%   for(let listing of alllistings){ %> 
        <li><a href="/listings/<%= listing._id %>"><%=listing.title%> </a> </li>
   <%  
    }%>   
</ul>
</body>
