<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/listings">
        <h3>Enter Details</h3>
        <input type="text" name="listing[title]" placeholder="Title">
        <br> 
        <br> 
        

        <textarea name="listing[descriptions]" placeholder="descriptions"></textarea>
        <br>         <br> 

        <input type="text" name="listing[price]" placeholder="Price">
        <br> 
        <input type="text" name="listing[location]" placeholder="Location">
        <br>         <br> 

        <input type="text" name="listing[country]" placeholder="Country">
        <br>         <br> 

        <input type="text" name="listing[image]" placeholder="Enter image URL/Link">
        <br>        <br> 

        <button type="submit">Add</button>
    </form>
</body>
</html>
