<% layout("/layouts/boilerplate") %>

<body>
    <form method="POST" action="/listings">
        <div>
        <label for="title"class="form-label">Enter Title</label>
         <input type="text" name="listing[title]" placeholder="Title"class="form-control">
        </div>
        <br> 

        <div>
        <label for="description"class="form-label">Enter Description</label>
        <textarea name="listing[description]" class="form-control"></textarea>
        </div>

        <br> 
        <div>
        <label for="price"class="form-label">Enter Price</label>
        <input type="text" name="listing[price]" placeholder="Price"class="form-control">
        </div>

        <br> 
        <div>
        <label for="location"class="form-label">Enter location</label>
        <input type="text" name="listing[location]"class="form-control">

        </div>
         <br> 
         <div>
        <input type="text" name="listing[country]" class="form-control">

         </div>
        <br> 
        <label for="image"class="form-label">Image</label>
        <input type="text" name="listing[image]"class="form-control">
        <br>      

        <button class="btn btn">Add</button>
    </form>
</body>

