<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST"action="/listings">
    <h3>Enter Details</h3>
    <input type="placeholder"name="title">
    <br> <input type="placeholder"name="title">
    <br> <input type="placeholder"name="decriptions">
    <br> <input type="placeholder"name="price">
    <br> <input type="placeholder"name="title">
    <br> <input type="placeholder"name="title">
    <br> <input type="placeholder"name="title">
    <br> <input type="placeholder"name="title">
    <br>
    </form>
</body>
</html>