<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel=""
</head>
<body>
    <h1>WanderLust</h1>
<div class="constainer">
   <%-body  %>
</div>
</body>
</html>