<footer>
    <div class="f-info">
        <div class="f-info-socials">

        </div>
<div>
    wanderlust private Ltd
</div>
<div class="f-info-links">
    <a>privacy</a>
    <a>term</a>
</div>
    </div>

</footer>